h1 #{title}
form(method='POST' , action="/")
    script(src='/js/bleScript.js')
    //script(src='/js/store-input-value.js')
    #form-group
        label Device Name:
        input.form-control(name='name', type='text', id='name') 
    #form-group
        label Owner:
        input.form-control(name='owner', type='text', id='owner')
    #form-group
        label Email:
        input.form-control(name='email', type='text')
    #form-group
        label OS type:
        input.form-control(name='osType', type='text')
    br
    //input.btn.btn-primary(type="submit",value='Submit', name="save")
    button Connect with BLE devices
    //script. 
        function isWebBLEAvailable(){
            if (!navigator.bluetooth){
                console.log('errrr');
                return false
            }
            return true
        }

        function getBattery(){
            let options = {
                acceptAllDevices: true
            }

            navigator.bluetooth.requestDevice(options, { filters: [{ services: ['battery_service'] }] })
            .then(device => device.gatt.connect())
            .then(server => {
                // Getting Battery Service…
                return server.getPrimaryService('battery_service');
            })
            .then(service => {
                // Getting Battery Level Characteristic…
                return service.getCharacteristic('battery_level');
            })
            .then(characteristic => {
                // Reading Battery Level…
                return characteristic.readValue();
            })
            .then(value => {
                console.log('Battery percentage is ${value.getUint8(0)}');
            })
            .catch(error => { console.error(error); });
        }

        document.querySelector('form').addEventListener('submit', 
        function(event) {
            event.stopPropagation()
            event.preventDefault()

            if(isWebBLEAvailable()) {
                getBattery()
            }
        } )